.config/Code - OSS
.config/dconf
.config/GIMP
.config/go
.config/gtk-3.0
.config/pulse
.config/Thunar
.config/xfce4
.config/yay
.config/pavucontrol.ini
.config/VirtualBox
.config/spotify
.config/LibreCAD
.config/dolphinrc
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kcminputrc
.config/kconf_updaterc
.config/kded5rc
.config/kdeglobals
.config/kglobalshortcutsrc
.config/kiorc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kxkbrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/baloofilerc
.config/discoverrc
.config/KDE
.config/kdedefaults
.config/libaccounts-glib
.config/session
.config/menus
.config/plasma-workspace
.config/autostart