.config/Code - OSS
.config/dconf
.config/GIMP
.config/go
.config/gtk-3.0
.config/pulse
.config/Thunar
.config/xfce4
.config/yay
.config/pavucontrol.ini
.config/VirtualBox
.config/spotify
.config/LibreCAD